ClientGraphique/Bourniquel/Connected Services/ServiceReference1/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/Design_Time_Addresses/WcfServiceLibraryVelib/Service1/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfServiceLibraryVelib" />
  <xs:import schemaLocation="http://localhost:8733/Design_Time_Addresses/WcfServiceLibraryVelib/Service1/?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="GetVille">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deltaSeconde" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVilleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfServiceLibraryVelib" minOccurs="0" name="GetVilleResult" nillable="true" type="q1:ArrayOfVille" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNomStationParVille">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ville" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="deltaSeconde" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNomStationParVilleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetNomStationParVilleResult" nillable="true" type="q2:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInformationStation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ville" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="station" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="deltaSeconde" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInformationStationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WcfServiceLibraryVelib" minOccurs="0" name="GetInformationStationResult" nillable="true" type="q3:Station" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>